/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Amiri|Arvo|Bangers|Bree+Serif|Cormorant|Courgette|Fredoka+One|Fugaz+One|Gurajada|Indie+Flower|Kaushan+Script|Lemon|Lemonada|Mali|Montserrat|Neucha|Oleo+Script+Swash+Caps|Permanent+Marker|Quicksand:500|Salsa|Sedgwick+Ave|Spicy+Rice');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/* BODY DEFAULT */ 
body{
    margin :0;
    padding : 0;

}



.text{
  font-size: 20px;
  font-family: sans-serif;
  color: #E9EBF1
}



/* Background Styling */
.pageLayout{
    height : 100vh;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-position: bottom;
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: url("images/capture1.jpg") ;*/
    background-repeat: no-repeat;
}



.navbarList{
  /*background-color: #DDDCE0;*/
  float : right;
  /*background-image: linear-gradient(#AD0AAB,#4568DC, #B06AB3, #00A032);*/
  /*background-image: radial-gradient(circle at bottom right, #AD0AAB,#4568DC, #B06AB3, #00A032);*/
   /*linear-gradient(#4568DC, #B06AB3);*/  /*other option #FC466B, #3F5EFB)*/  /*linear-gradient(#AD0CFF, #00A032)*/
  opacity : 0.7;
  width : 15%;
  top: 10%;
  position: relative;
  visibility: hidden;
}

/*Apply CSS for all ul's with .navbarList Class*/
.navbarList ul{
  font-size: 16px;
  font-family:  'Salsa', cursive;
  font-weight: 300;
  color: white;   
  display: block;
  text-align: right;
  position: absolute;
  margin: 40% 16px 0px 75px;
  padding: 0px;

}



li {

  display: block;
  padding: 5%;


}

li a {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

li a:hover {
  /*background-color: #185a9d;
  color : #43cea2;*/
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;  
  transition: color 200ms ease-out;
  /*background-color: #e0eafc; /*eef2f3*/
  /*color : #ffffff;/*#4bc0c8;*/
  font-weight: 900;

  color: springgreen;
  /*opacity: 0.5;*/

}

.line::after {
  /*-webkit-box-shadow: 0px 0px 10px 5px #ffffff;*/
  content: '';
  display: block;
  width: 0;
  height: 2.25px;
  background: #000;
  transition: width .3s;


}

.line:hover::after{
  width: calc(100% - 30px) ;
}
/*-all is specified so as to transition the elements in this specific css class.*/


li a.defaultSelect {
  color : springgreen;/*#4bc0c8;*/
  font-weight: bolder;
  /*opacity : 0.5;*/
}

.defaultIconSelect{
  background-color: springgreen;
  -webkit-box-shadow: 2px 2px 5px 1px;

}

/*.hamburger-menu{
   background-color: #fff;
   width: 98px;
   height: 98px;
   border-bottom-left-radius: 100%;
   position: relative;
   float: right; 
}
*/


.hamburger-menu{
  float: right;
  background-color: #fff;
   width: 30px;
   height: 30 px;
   border-bottom-left-radius: 100%;
   position: relative;
   float: right;
  background-color: #21264b;
  background-size: 28px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
  align-content: left;

  visibility: visible;
  padding-right: 0px;
  padding-top: 25px;

}

/** ICONS IN NAVIGATION MENU **/
.material-icons.md-36 { 

  font-size: 20px;
  background: white;
  padding : 5px;
  border-radius: 30%;
  color: rgba(26, 26, 26, 0.99);
  margin-left: 5px;
  /*transition: all 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);*/


}

.material-icons.md-36:hover, li a:hover > .material-icons.md-36{ 

  cursor: pointer;
  -webkit-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -moz-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -o-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);  
  transition: all 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -webkit-box-shadow: 2px 2px 5px 1px;
  background-color: springgreen;

}


/* Form -Styling */




.login-form{
  top: 50%;
  left: 50%;
  position: absolute;
  background: #ffffff;
  transform: translate(-50%,-50%) ;
  border-radius: 20px;
  box-shadow: 6px 0px 20px -3px rgba(26, 26, 26, 0.99);
  display: none;
  text-align: center;

}

.form-input{
    padding-top: 40px;

}

.login-form h2{
  font-family: 'Salsa', cursive;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  height: 36px;
  font-size: 22px;
  background-color: #e4f2e669; /*#dddce0*/
  border-bottom: 2px solid #e9ebf1;

}


.login-form h2:hover:nth-child(1), #login.active{


    padding-right: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    background-color: springgreen;
    /* padding-right: 0px; */
    transition: padding 300ms cubic-bezier(0.14, 0.86, 0.71, 1.29);
    /* padding-right: 0px; */
}



.login-form h2:hover:nth-child(2), #signUp.active{


    padding-left: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    background-color: springgreen;
    /* padding-right: 0px; */
    transition: padding 300ms cubic-bezier(0.14, 0.86, 0.71, 1.29);
    /* padding-right: 0px; */
}


#login{
  border-top-left-radius: 20px;
  cursor: pointer;

}

#signUp{
  border-top-right-radius: 20px;
  cursor: pointer;
}

.input-text-login{
    border: 1px solid #bababa;
    border-radius: 8px;
    border-width: 40%;
    border-spacing: 4px;
    font-family: Palatino Linotype;
    padding: 5px;
    width: 200px;

}

.input-icon {
    margin-left: -20px;
    opacity: 0.5;
}



.input-text-login:focus{
    border: 1.25px solid springgreen;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-radius: 8px;
    outline: 0;
}


/** SUBMIT BUTTON STYLES - START **/
.submit-button{
    text-align: center;
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
    font-size: 20px;
    width: 50%;
    margin: 15px;
    cursor: pointer;
    background-color: springgreen;
    border: none;
    outline: none;
    content: '0';
    transition: 0.2 ease-out;
    text-transform: uppercase;

}

.submit-button:hover{
  padding-right: 20px;
  transition: all 0.2s ease-out;
}

.submit-button span{
  position: relative;
  transition: 0.5s;
    cursor: pointer;
  display: inline-block;
}
.submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}
.submit-button:hover span:after {
  opacity: 1;
  right: -20px;
}

.submit-button:active{
   border-bottom: solid 2px #fd9535;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/** SUBMIT BUTTON STYLES - END **/

/** CHECK BOX **/
input[type="checkbox"]{
  outline: none;


}


.test-div{
    /* To make the curvy right aligned menu bar */
    transform: translate(0%,0%);
    right: 0%;
    width: 92px;
    height: 80px;
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 100%;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.50, -0.75, 0.05, 1);

}

/* Close Icon Properties - START*/
.close-icon{
    display: inline-block;
    position: relative;
    visibility: hidden;
    margin: 25px 35px;


}


.close-icon::before, .close-icon::after {
    width: 30px; 
    height: 5px; 
    border-radius: 7px; 
    background-color: black; 
    position: absolute;
    content: ' ';

}

.close-icon::before { 
    transform: rotate(45deg);
}

.close-icon::after { 
    transform: rotate(135deg);
} 

/* Close Icon Properties - END*/



/* HAMBURGER MENU Properties - START */
.ham-menu { 
    display: inline-block;
    position: relative;
    margin: 25px 18px;
    left: 15px;


} /* margin = (width-height)/2 */


.ham-menu, .ham-menu::before, .ham-menu::after {
    width: 30px; 
    height: 5px; 
    border-radius: 7px; 
    background-color: black; 

}

.ham-menu::before, .ham-menu::after { 
    content: ""; 
    display: block; 
    position: absolute; 
    
}

.ham-menu::before { 
    bottom: 170%; 
} 

.ham-menu::after { 
    top: 160%; 
}

/* HAMBURGER MENU Properties - END */


.strike{
 border-bottom: 1.5px solid rgba(0,0,0,.075);
  line-height:0.1em;
  width : 100%;



}

.strike .strike-line{
  background:#fff;
  padding: 10px 0px;
  font-family: 'Cormorant';
}


.social-media-icons{
  padding: 10px 10px;
  opacity: 0.5;
  color: rgba(26, 26, 26, 0.99);
  size: 35px;
  /*height: 35px;*/
}

.fa-google:hover{
  background-color: #dd4b39;
  color: floralwhite;
  opacity: 1;
  border-radius: 5px;
}

.fa-twitter:hover{
  background-color: #55ACEE;
  color: floralwhite;
  opacity: 1;
    border-radius: 5px;
}

.fa-facebook-f:hover{
  background-color: #3B5998;
  color: floralwhite;
  opacity: 1;
    border-radius: 5px;
}

.fa-linkedin-in:hover{
  background-color: #007bb5;
  color: floralwhite;
  opacity: 1;
    border-radius: 5px;
}


/*.inside-div:before, .inside-div:after {
   content: '';
   height: 5px;
   left: 0px;
   right: 0px;  
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
   /*background-color: #21264b;
   transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
}*/
/*
.firstElement{
    height : 100vh;
    width: 100vw !important;
    background-size: contain;
    background-image: url("images/capture1.jpg"),url("images/Marble Texture_01.jpg"),url("images/Marble Texture_05.jpg") ;
    background-repeat: no-repeat,  no-repeat, no-repeat;
    background-position: left,center,right;
     background : linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(160deg);

    display: flex;
} */
/*


/*<div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

.collapsable-button{
  background-image: url("images/nav-icon.png");
  float: right;
  background-size: 35px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width:50px;
  align-content: left;
  cursor: pointer;
  visibility: visible;
  opacity : 1;
/*  margin: -20px 65%;

}

.collapsable-button:hover{
    background-color: #AB47BC;

}
*/


/*.nav-menu.active{
  opacity: 0.5;
}*/

