/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Amiri|Arvo|Bangers|Bree+Serif|Cormorant|Courgette|Fredoka+One|Fugaz+One|Gurajada|Indie+Flower|Kaushan+Script|Lemon|Lemonada|Mali|Montserrat|Neucha|Oleo+Script+Swash+Caps|Permanent+Marker|Quicksand:500|Salsa|Sedgwick+Ave|Spicy+Rice');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/* BODY DEFAULT */ 
body{
    margin :0;
    padding : 0;

}



.text{
  font-size: 20px;
  font-family: sans-serif;
  color: #E9EBF1
}



/* Background Styling */
.pageLayout{
    height : 100vh;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-position: bottom;
    background-image: url("images/capture1.jpg") ;
    background-repeat: no-repeat;
/*    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(60deg);*/
}



.navbarList{
  /*background-color: #DDDCE0;*/
  float : right;
  /*background-image: linear-gradient(#AD0AAB,#4568DC, #B06AB3, #00A032);*/
  /*background-image: radial-gradient(circle at bottom right, #AD0AAB,#4568DC, #B06AB3, #00A032);*/
   /*linear-gradient(#4568DC, #B06AB3);*/  /*other option #FC466B, #3F5EFB)*/  /*linear-gradient(#AD0CFF, #00A032)*/
  opacity : 0.7;
  width : 15%;
  position: relative;
  top: 10%;
  visibility: hidden;
}


/*Apply CSS for all ul's with .navbarList Class*/
.navbarList ul{
  font-size: 16px;
  font-family:  'Salsa', cursive;
  font-weight: 300;
  color: white;   
  display: block;
  text-align: right;
  margin-right: 10%;
}



li {

  display: block;
  padding: 5%;


}

li a {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

li a:hover {
  /*background-color: #185a9d;
  color : #43cea2;*/
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;  
  transition: color 200ms ease-out;
  /*background-color: #e0eafc; /*eef2f3*/
  /*color : #ffffff;/*#4bc0c8;*/
  font-weight: 900;

  color: springgreen;
  /*opacity: 0.5;*/

}

.line::after {
  /*-webkit-box-shadow: 0px 0px 10px 5px #ffffff;*/
  content: '';
  display: block;
  width: 0;
  height: 2.25px;
  background: #000;
  transition: width .3s;


}

.line:hover::after{
  width: calc(100% - 30px) ;
}
/*-all is specified so as to transition the elements in this specific css class.*/


li a.defaultSelect {
  color : springgreen;/*#4bc0c8;*/
  font-weight: bolder;
  /*opacity : 0.5;*/
}

.defaultIconSelect{
  background-color: springgreen;
  -webkit-box-shadow: 2px 2px 5px 1px;

}

li a.nav-menu{
  background-image: url("images/nav-icon.png");
  background-size: 28px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30%;
  align-content: left;

  visibility: visible;
  padding-right: 0px;
  padding-top: 25px;

}


.material-icons.md-36 { 

  font-size: 20px;
  background: white;
  padding : 5px;
  border-radius: 30%;
  color: rgba(26, 26, 26, 0.99);
  margin-left: 5px;

}

.material-icons.md-36:hover, li a:hover > .material-icons.md-36{ 

  cursor: pointer;
  -webkit-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -moz-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -o-transition: color 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);  
  transition: all 200ms cubic-bezier(0.12, 0.65, 0.3, 1.24);
  -webkit-box-shadow: 2px 2px 5px 1px;
  background-color: springgreen;

}


/* Form -Styling */




.login-form{
  top: 50%;
  left: 50%;
  position: absolute;
  background: #ffffff;
  transform: translate(-50%,-50%) ;
  border-radius: 20px;
  box-shadow: 6px 0px 20px -3px rgba(26, 26, 26, 0.99);
  display: none;
  text-align: center;

}

.form-input{
    padding-top: 40px;

}

.login-form h2{
  font-family: 'Salsa', cursive;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 120px;
  height: 36px;
  font-size: 22px;
  background-color: #e4f2e669; /*#dddce0*/
  border-bottom: 2px solid #e9ebf1;

}


.login-form h2:hover:nth-child(1), #login.active{


    padding-right: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    background-color: springgreen;
    /* padding-right: 0px; */
    transition: padding 300ms cubic-bezier(0.14, 0.86, 0.71, 1.29);
    /* padding-right: 0px; */
}



.login-form h2:hover:nth-child(2), #signUp.active{


    padding-left: 5px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.4);
    background-color: springgreen;
    /* padding-right: 0px; */
    transition: padding 300ms cubic-bezier(0.14, 0.86, 0.71, 1.29);
    /* padding-right: 0px; */
}

#login{
  border-top-left-radius: 20px;
  cursor: pointer;

}

#signUp{
  border-top-right-radius: 20px;
  cursor: pointer;
}



.input-text-login{
    border: 1px solid #bababa;
    border-radius: 4px;
    border-width: 40%;
    border-spacing: 4px;
    font-family: Palatino Linotype;
    padding: 5px;
    width: 200px;

}

.input-icon {
    margin-left: -20px;
}


.input-text-login:focus{
    border: 1px solid #00bafa;
    border-radius: 4px;


}


.submit-button{
    text-align: center;
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
    font-size: 20px;
    width: 50%;
    margin: 15px;
    cursor: pointer;
    background-color: springgreen;
    border: none;
    outline: none;
    content: '0';
    transition: 0.2 ease-out;
    text-transform: uppercase;


}

.submit-button:hover{
  padding-right: 20px;
  transition: all 0.2s ease-out;
}

.submit-button span{
  position: relative;
  transition: 0.5s;
    cursor: pointer;
  display: inline-block;
}
.submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  transition: 0.5s;
}
.submit-button:hover span:after {
  opacity: 1;
  right: -20px;
}

/*
.firstElement{
    height : 100vh;
    width: 100vw !important;
    background-size: contain;
    background-image: url("images/capture1.jpg"),url("images/Marble Texture_01.jpg"),url("images/Marble Texture_05.jpg") ;
    background-repeat: no-repeat,  no-repeat, no-repeat;
    background-position: left,center,right;
     background : linear-gradient(
      rgba(255, 0, 0, 0.45),
      rgba(255, 0, 0, 0.45)
    ),
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(160deg);

    display: flex;
} */
/*


/*<div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

.collapsable-button{
  background-image: url("images/nav-icon.png");
  float: right;
  background-size: 35px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width:50px;
  align-content: left;
  cursor: pointer;
  visibility: visible;
  opacity : 1;
/*  margin: -20px 65%;

}

.collapsable-button:hover{
    background-color: #AB47BC;

}
*/


/*.nav-menu.active{
  opacity: 0.5;
}*/

